@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px
    &-slider
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-wrapper
        flex-basis: 100%
@media ( max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-greed
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    padding-bottom: 55px
    &-slider
      &__button
        top: 48%
        &--prev
          left: 0
        &--next
          right: 0
      &__item
        max-width: 580px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .activities
    padding-top: 60px
    padding-bottom: 50px
  .footer
    padding-top: 70px
    &-wrapper
      grid-template-columns: repeat(7, 1fr)
      grid-row-gap: 40px
      grid-column-gap: 5px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      width: 104px
      height: 120px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__information
      grid-column: span 3
    &__legal
      grid-column: span 2
    &__contacts
      &-details
        grid-row: span 3
        grid-column: span 5
        margin-top: 25px
      &-form
        grid-column: span 6

        width: 90%
    &__title
      &--mb-3
        margin-bottom: 20px
    &__input
      &-wrapper
        flex-basis: 47%
    &__ul--inline
      margin-top: 25px
    &__disclaimer
      grid-column: span 3
    &__pay
      grid-column: span 4
      align-self: center
      justify-self: end

@media ( max-width: 767px )
  body
    padding-top: 78px
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search,
    &__user
      &--mobile
        &--hiden
          display: none
    &__user
      flex-direction: column
      align-items: center
    &--mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99

    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      &--visible
        display: block
        overflow-y: scroll
    &-menu
      flex-direction: column
      padding: 31px 40px 0 40px
      padding-bottom: 0
      overflow-y: scroll
      &__item
        padding-bottom: 17px
        &--mobile
          &--visible
            display: flex
            padding-bottom: 0
    &__search
      &--mobile
        &--visible
          margin-bottom: 37px
          max-width: 240px
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
        margin-bottom: 27px

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: $light
      border: none
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0px
      &__name
        flex-basis: 100%
      &__description
        max-width: 280px
    &-wrapper
      justify-content: space-between
  .stars
    flex-basis: 25%
  .hotel
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 444px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: start
      max-width: 576px
      width: 92%
    &-title
      font-weight: 300
      font-size: 24px
      line-height: 30px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        padding: 0 30px 30px
        &::before, &::after
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
    &__title
      width: 430px
      margin-left: auto
      margin-right: auto
      font-size: 30px
      line-height: 38px
  .activities
    padding-top: 40px
    padding-bottom: 50px
  .card
    width: 48%
    height: 255px
  .footer
    &__categories
      grid-column: 1 / 6
    &__information
      grid-column: 1 / 6
    &__legal
      grid-column: 1 / 6
      justify-self: start
    &__details
      grid-column: 1 / 6
      grid-row: 6 / 7

    &__input
      &-wrapper
        flex-basis: 100%

    &__disclaimer
      grid-column: span 4
      justify-self: flex-start
    &__pay
      grid-column: span 2
@media ( max-width: 480px )
  .container
    width: 90%
  .navbar
    &-top
      height: 78px
  .logo
    width: 99px
  .hotel
    padding-bottom: 50px
    &-info
      margin-bottom: 38px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 179px
    &-right
      min-height: auto
  .booking
    padding: 20px
    margin-bottom: 20px
  .map
    height: 173px
  .subscribe
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin: 0
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      width: 245px
      margin: 0 auto 40px
    &-slider
      &__text
        max-width: 220px
        text-align: left
      &__button
        top: 30px
        &--prev
          left: 41%
        &--next
          right: 41%
  .activities
    padding-top: 40px
    padding-bottom: 40px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__logo
      grid-column: 1
      grid-row: 1
    &__social
      &-network
        display: flex
        flex-wrap: wrap
        grid-column: 1
        grid-row: 2
    &__title
      margin-bottom: 17px
      &--inline
        flex-basis: 100%
        margin-bottom: 24px
    &__categories
      grid-column: 1
      grid-row: 5
      max-width: 250px
    &__information
      grid-column: 1
      grid-row: 4
    &__legal
      grid-column: 1
      grid-row: 3
      justify-self: start
    &__icon
      &-wrapper
        min-width: 30px
    &__input
      width: 90%
    &__message
      width: 90%
      flex-basis: 90%

    &__contacts
      &-wrapper
        flex-wrap: wrap
      &-details
        grid-column: 1
        grid-row: 6
        padding-right: 20px
        margin-top: 5px
      &-form
        grid-column: 1
        grid-row: 7 / 8
        width: 100%
    &__disclaimer
      grid-column: 1
      grid-row: 8

    &__ul--inline
      margin-top: 0px
      margin-bottom: 10px
    &__pay
      grid-column: 1
      grid-row: 9
      align-self: auto
      justify-self: auto
      margin-top: -55px
    &__info
      order: -1
      flex-basis: 100%
      margin-bottom: 15px
  .modal
    &__dialog
      padding: 20px
      max-width: 320px
    &__contacts-wrapper
      flex-direction: column
      align-items: flex-start
    &__info
      order: -1
      margin-bottom: 15px

@media (max-width: 568px) and (min-width: 566px)
  .modal
    &__overlay
      overflow-x: scroll
    &__dialog
      max-width: 320px
      padding: 10px 20px
      // margin-bottom: 10px
      margin-top: 60px
    &__message
      height: 70px
      margin-top: 0
      margin-bottom: 10px
      padding: 15px
    &__input
      min-height: 30px
      margin: 0
      margin-bottom: 10px
    &__title
      margin-bottom: 15px
      font-size: 16px
    &__close
      width: 12px
      top: 10px
      right: 10px
    &__button
      padding: 13px
      width: 140px
      height: 40px
  .footer
    &__pay
      grid-row: 10
      margin-top: -85px
@media (min-width: 665px) and (max-width: 667px)
  .modal
    &__overlay
      overflow-x: scroll
    &__dialog
      max-width: 320px
      padding: 10px 20px
      // margin-bottom: 10px
      margin-top: 60px
    &__message
      height: 70px
      margin-top: 0
      margin-bottom: 10px
      padding: 15px
    &__input
      min-height: 30px
      margin: 0
      margin-bottom: 10px
    &__title
      margin-bottom: 10px
      font-size: 16px
    &__close
      width: 12px
      top: 10px
      right: 10px
    &__button
      padding: 13px
      width: 140px
      height: 40px

@media ( min-width: 992px )
  .button
    &:hover
      -webkit-animation: swing 0.6s ease
      animation: swing 0.6s ease
      -webkit-animation-iteration-count: 1
      animation-iteration-count: 1
  .card
    &__button
      &:hover
        -webkit-animation: swing 0.6s ease
        animation: swing 0.6s ease
        -webkit-animation-iteration-count: 1
        animation-iteration-count: 1
  .navbar
    &-menu
      &__item
        &:hover
          -webkit-transform: scale(1.2)
          -ms-transform: scale(1.2)
          transform: scale(1.2)
  .footer
    &__link
      &:hover
        color: red
  .icon
    &:hover
      fill: $primary
