@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px
    &-slider
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
@media ( max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-greed
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    padding-bottom: 55px
    &-slider
      &__button
        top: 48%
        &--prev
          left: 0
        &--next
          right: 0
      &__item
        max-width: 580px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    &__title
      width: 150px
  .activities
    padding-top: 60px
    padding-bottom: 50px
  .footer
    padding-top: 70px
    &-wrapper
      grid-template-columns: repeat(7, 1fr)
      grid-row-gap: 40px
      grid-column-gap: 5px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      width: 104px
      height: 120px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__information
      grid-column: span 3
    &__legal
      grid-column: span 2
    &__contacts
      &-details
        grid-row: 3 / 4
        grid-column: span 5
      &-form
        grid-column: span 6
        margin-top: -17px
        width: 90%
    &__input
      flex-basis: 47%
    &__ul--inline
      margin-top: 25px
    &__disclaimer
      grid-column: span 3
    &__pay
      grid-column: span 4
      align-self: center
      justify-self: end

@media ( max-width: 767px )
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-menu, &__search, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: $light
      border: none
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0px
      &__name
        flex-basis: 100%
      &__description
        max-width: 280px
    &-wrapper
      justify-content: space-between
  .stars
    flex-basis: 25%
  .hotel
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 444px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: start
      max-width: 576px
      width: 92%
    &-title
      font-weight: 300
      font-size: 24px
      line-height: 30px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        padding: 0 30px 30px
        &::before, &::after
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
    &__title
      width: 430px
      margin-left: auto
      margin-right: auto
      font-size: 30px
      line-height: 38px
  .activities
    padding-top: 40px
    padding-bottom: 50px
  .card
    width: 48%
    height: 255px
  .footer
    &__input
      flex-basis: 100%
    &__disclaimer
      grid-column: span 4
      justify-self: flex-start
    &__pay
      grid-column: span 2
@media ( max-width: 480px )
  .navbar
    &-top
      height: 70px
  .logo
    width: 99px
  .hotel
    padding-bottom: 50px
    &-info
      margin-bottom: 38px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 179px
    &-right
      min-height: auto
  .booking
    padding: 20px
    margin-bottom: 20px
  .map
    height: 173px
  .subscribe
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin: 0
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      width: 245px
      margin: 0 auto 40px
    &-slider
      &__text
        max-width: 220px
        text-align: left
      &__button
        top: 30px
        &--prev
          left: 41%
        &--next
          right: 41%
  .activities
    padding-top: 40px
    padding-bottom: 40px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 96%
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 20px
    &__logo
      grid-column: 1
      grid-row: 1
      padding-bottom: 30px
    &__social
      &-network
        display: flex
        flex-wrap: wrap
        grid-column: 1
        grid-row: 2
    &__title
      &--inline
        flex-basis: 100%
        margin-bottom: 24px
    &__categories
      grid-column: 1
      grid-row: 5
      max-width: 250px
    &__information
      grid-column: 1
      grid-row: 4
    &__legal
      grid-column: 1
      grid-row: 3
      justify-self: start

    &__contacts
      &-wrapper
        flex-wrap: wrap
      &-details
        grid-column: 1
        grid-row: 6
        margin-bottom: 5px
      &-form
        grid-column: 1
        grid-row: 7 / 8
    &__disclaimer
      grid-column: 1
      grid-row: 8
    &__ul--inline
      margin-top: 30px
      margin-bottom: 10px
    &__pay
      grid-column: 1
      grid-row: 9
      align-self: auto
      justify-self: auto
      margin-top: -15px
    &__info
      order: -1
      flex-basis: 100%
      margin-bottom: 15px
