*
  box-sizing: border-box
  outline: none

body
  font-family: 'Mulish', sans-serif
  color: $text-color
  background-color: $secondary
input,
textarea
  &::placeholder
    color: $placeholder-color
  &::placeholder
    color: $placeholder-color
  &:-placeholder
    color: $placeholder-color
  &:input-placeholder
    color: $placeholder-color
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
.icon
  width: 20px
  height: 20px
  fill: #BDBDBD
  &:hover
    fill: red
.invalid
  color: $primary
  font-size: 12px
  margin-top: 5px
.invalid-subscribe
  color: $primary
  font-size: 12px
  position: absolute
  z-index: 1
  bottom: 0
  left: 30%
  transform: translateX(-30%)
  
