.hotel
  padding-top: 13px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px
    &__offer
      margin-left: 14px
      margin-top: 4px
    &__name
      margin-top: 0px
      margin-bottom: 0px
    &__description
      margin: 0
  &-name
    font-weight: bold
    font-size: 24px
    line-height: 30px
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-description
    font-size: 12px
    line-height: 15px
  &-greed
    display: flex
    justify-content: space-between
  &-slider
    width: 728px
    height: 450px
    &__item
      position: relative
      width: 100%
      height: 100%
      border-radius: 8px
      overflow: hidden
      &::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top:
        bottom: 0
        left: 0
        right: 0
        z-index: 10
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
    &__button
      position: absolute
      z-index: 55
      top: 50%
      transform: translateY(-50%)
      width: 30px
      height: 30px
      border: none
      cursor: pointer
      background-repeat: no-repeat
      background-position: center
      background-size: 10px
      background-color: transparent
      &--prev
        left: 18px
        background-image: url(../img/arrow-prev.svg)
      &--next
        right: 18px
        background-image: url(../img/arrow-next.svg)
  &-link--back
    position: absolute
    top: 330px
    padding: 18px 65px
    background-color: $primary
    border: none
    cursor: pointer
    border-radius: 5px
    text-decoration: none
    color: $light

  &-right
    display: flex
    flex-direction: column
    justify-content: space-between
.stars
  display: flex
  flex-basis: 100%
  margin-bottom: 4px
  &-img
    margin-left: 4px
    width: 6px

.offer
  font-weight: 600
  font-size: 10px
  line-height: 13px
  background-color: $primary
  color: $light
  padding: 4px 9px
  border-radius: 3px
.rating
  max-width: 65px
  min-height: 45px
  text-align: center
  background-color: $primary
  border-radius: 4px
  color: $light
  &__text
    font-weight: 600
    font-size: 8px
    line-height: 10px
  &__counter
    font-weight: bold
    font-size: 14px
    line-height: 18px
  &__maxcounter
    font-weight: bold
    font-size: 10px
    line-height: 18px
.hotel
  &-slide
    &__image
      object-fit: cover
.booking
  font-family: 'Nunito', sans-serif
  border-radius: 8px
  width: 350px
  max-height: 210px
  padding: 29px 29px 26px 26px
  background-color: $dark
  color: $light
  &__info
    display: flex
    justify-content: space-between
    margin-bottom: 9px
  &__price
    display: flex
    flex-direction: column
  &__start
    font-weight: normal
    font-size: 10px
    line-height: 14px
  &__pricetag
    font-weight: 800
    font-size: 24px
    line-height: 33px
  &__per-room
    font-weight: normal
    font-size: 12px
    line-height: 16px
  &__room
    padding-top: 4px
  &__text
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 8px
    font-weight: normal
    font-size: 12px
    line-height: 16px
  &__description
    margin-left: 9px
  &__call-center
    display: flex
    align-items: center
    justify-content: space-between
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
    margin-bottom: 17px
  &__number
    display: flex
    align-items: center
    justify-content: space-between
    text-decoration: none
    color: inherit
  &__num
    margin-left: 8px
  &-button
    width: 100%
    min-height: 45px
    border-radius: 4px
    border: none
    font-weight: 600
    font-size: 14px
    line-height: 19px
    background-color: $primary
    color: $light
    cursor: pointer
.map
  width: 347px
  height: 213px
  border-radius: 10px
  overflow: hidden
